button {
    position: relative;
    border: 1px solid #258BFF ;
    background-color: #258BFF;
    height: 50px;
    width: 200px;
    color: aliceblue;
    border-radius: 10px;
    margin: 50px;
}

button:hover {
    background: #FFFFFF;
    color: #258BFF;
    transition: 0.5s all;
}

.btn {
    margin: 0 auto;
    margin-top: 200px;
    display: block;
    height: 40px;
}

.wrapper {
    width: 150px;
    color: #191919 ;
    position: absolute;
    margin-top: 40px;
    border: 1px solid #808080; 
    border-radius: 10px;
    line-height: 30px;
    background-color:#bdc3c799; 
}

.wrapper::before {
    content: '';
    height: 10px;
    width: 10px;
    position: absolute;
    top: -3px;
    left: 50%;
    border: 1px solid #808080;
    background-color: #808080;
    transform: rotate(45deg) translateX(-50%);
}

.popover-title{
    border-bottom: 1px solid #808080;
    font-weight: 700;
    padding: 8px;
    background-color: #808080;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.popover-content{
    padding: 10px;
}